In [10]:
import pandas as pd
import numpy as np
import json

triangles = pd.read_json("../data/triangles.json")

dual_chart = pd.read_csv("../data/dual-chart.csv")
dual_chart.set_index("Attacking", inplace = True)

triangles

                   0                1             2
0      Fighting/Dark   Fighting/Fairy   Normal/Rock
1       Dragon/Fairy    Ground/Dragon  Poison/Steel
2           Fire/Ice     Grass/Dragon    Water/Rock
3    Electric/Poison      Fire/Ground  Water/Flying
4       Fighting/Bug       Ice/Flying   Normal/Rock
..               ...              ...           ...
865        Bug/Steel      Fire/Flying     Fire/Rock
866  Fighting/Ground         Ice/Rock  Poison/Steel
867    Fighting/Rock      Fire/Flying     Rock/Dark
868     Fighting/Bug  Fighting/Flying   Normal/Dark
869     Grass/Ground          Ice/Bug   Poison/Rock

[870 rows x 3 columns]

In [11]:
def stability_calculator(A, B, C, W):

    offense = [
        W.loc[A,B],
        W.loc[B,C],
        W.loc[C,A]
    ]

    defense = [
        W.loc[A,C],
        W.loc[C,B],
        W.loc[B,A]
    ]

    return np.var(offense) + np.var(defense)

In [12]:
triangles["score"] = triangles.apply(
    lambda row : stability_calculator(row[0], row[1], row[2], dual_chart),
    axis = 1
)

triangles = triangles.sort_values(by = "score", ascending = True)
triangles = triangles.to_dict(orient="records")

In [13]:
with open("../data/triangles_stability.json", "w") as file:
    json.dump(triangles, file, indent = 2)